@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/audittype.css" />

<div class="centered-div">
    <button class="bg-warning" onclick="redirectToSwagger()">Swagger</button>
    <button class="bg-warning" onclick="redirectToAuditTable()">TableFormat</button>
</div>
<script>
    function redirectToAuditTable() {
        window.location.href = '@Url.Action("GetAuditTable", "Audits")';
    }
</script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/audit.js"></script>