.add__btn-div {
    margin: 10px;
}

button {
    padding: 5px 50px;
}

#modalAdd {
    display: none;
    width: 600px;
    height: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translatey(-50%);
    opacity: 0;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
    transition: .4s;
    background: white;
}

#modalUpdate {
    display: none;
    width: 600px;
    height: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translatey(-50%);
    opacity: 0;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
    transition: .4s;
    background: white;
}


.openModal {
    height: 500px !important;
    opacity: 1 !important;
    width: 600px;
    position: fixed;
    top: 20% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    opacity: 0;
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
    transition: .4s;
    display: block !important;
}

.bg__cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.moda-footer {
    margin-top: 8%;
}

#modalDelete {
    width: 600px;
    height: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translatey(-50%);
    opacity: 0;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
    transition: .4s;
    background: white;
    display: none;
}

.activeDelete {
    height: 300px !important;
    opacity: 1 !important;
    width: 600px;
    position: fixed;
    top: 35% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    opacity: 0;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
    transition: .4s;
    display: block !important;
}
